mat-expansion-panel {
    margin: 0;
}

mat-panel-title {
    font-weight: bold;
    font-size: 1vw;
}

mat-panel-description {
    flex-grow: unset;
    font-size: 1vw;
}

mat-expansion-panel div {
    overflow-y: scroll;
    max-height: 60vh;
}

mat-expansion-panel.multi div {
    max-height: 18vh;
}

button {
    text-align: left;
    margin: 2px 0;
    width: 100%;
    font-size: 1vw;
}
.li-btn {
    height: 30px;
}
button:hover {
    background: rgba(0, 0, 0, 0.3);
}

button.selected {
    background: rgba(0, 0, 0, 0.2);
}

mat-icon {
    float: right;
    height: 55px;
}

mat-icon.meeting {
    color: red;
}

mat-icon.meeting.available {
    color: green;
}

mat-spinner {
    margin: auto;
}

@media screen and (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
    .li-btn {
        height: 40px;
    }
}

@media screen and (min-width: 3840px) and (max-width: 3840px) and (min-height: 2160px) and (max-height: 2160px) {
    .li-btn {
        height: 70px;
    }

}

